<ng-form name="baseDateForm">
    <div class="row" ng-class="{'has-error': baseDateForm.baseDateInput.$touched && baseDateForm.baseDateInput.$invalid }">
        <p>
        <div class="col-md-2" style="text-align: right">
            <label>{{::baseLabelText}}</label>
        </div>
        <div class="col-md-2">
                        <span class="input-group">
                            <!-- The pattern checks that
                                1) the year is numeric and starts with 19 or 20,
                                2) the month is numeric and between 01-12, and
                                3) the day is numeric between 01-29, or
                                3) the day is numeric between 01-29, or
                                b) 30 if the month value is anything other than 02, or
                                c) 31 if the month value is one of 01,03,05,07,08,10, or 12.
                                Notes: the reference url:  http://html5pattern.com/Dates
                             -->
                            <input name="baseDateInput" type="text" class="form-control" placeholder="YYYY-MM-DD"
                                   ng-model="baseDateModel"
                                   uib-datepicker-popup
                                   is-open="popup2.opened" datepicker-options="dateOptions" show-button-bar="false"
                                   maxlength="10"
                                   pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"
                                   required="required">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </span>
        </div>
        <div class="help-block" ng-messages="baseDateForm.baseDateInput.$error" ng-if="baseDateForm.baseDateInput.$touched">
            <p ng-message="date">Please input the valid date with the format: YYYY-MM-DD that starts with 19 or 20, e.g. 2016-06-16</p>
            <p ng-message="required">The date is required</p>
        </div>
        </p>
    </div>
</ng-form>