<div>
    <label>When the available time repeats</label>
</div>
<div class="row">
    <div class="col-md-2" style="text-align: right">
        <select name="repeatUnit" ng-model="repeatUnit.selected" required="required">
            <option value="daily" selected>Daily</option>
            <option value="weekly">Weekly</option>
            <option value="custom">Custom</option>
        </select>
    </div>
    <div class="col-md-2" ng-if="repeatUnit.selected==='daily'">
        <select name="dailyRepeatOption" required="required">
            <option>Every day</option>
            <option>Every other day</option>
            <option>Every 3rd day</option>
            <option>Every 4th day</option>
        </select>
    </div>
    <div class="col-md-2" ng-if="repeatUnit.selected==='weekly'">
        <select name="weeklyRepeatOption" required="required">
            <option>Every</option>
            <option>Every other</option>
            <option>Every 3rd</option>
            <option>Every 4th</option>
        </select>
    </div>
    <div class="col-md-2" ng-if="repeatUnit.selected==='weekly'">
        <input type="checkbox" name="daysOfWeek" value="Sunday">Sunday<br>
        <input type="checkbox" name="daysOfWeek" value="Monday">Monday<br>
        <input type="checkbox" name="daysOfWeek" value="Tuesday">Tuesday<br>
        <input type="checkbox" name="daysOfWeek" value="Wednesday">Wednesday<br>
        <input type="checkbox" name="daysOfWeek" value="Thursday">Thursday<br>
        <input type="checkbox" name="daysOfWeek" value="Friday">Friday<br>
        <input type="checkbox" name="daysOfWeek" value="Saturday">Saturday<br>
    </div>
    <div class="col-md-4" ng-if="repeatUnit.selected==='custom'" ng-controller="DatepickerDemoCtrl">
        <div>
            <pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre>
        </div>
        <div style="display:inline-block">
            <uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options"></uib-datepicker>
        </div>
        <div>
            <button name="addSelectedDate">Add Selected Date</button>
        </div>
    </div>
</div>
<br/>
<div ng-if="!(repeatUnit.selected==='custom')">
    <div >
        <label>How long the available time repeats</label>
    </div>
    <acd-datepicker base-date-model="startDateModel" base-label-text="{{::startDateLabel}}"></acd-datepicker>
    <acd-datepicker base-date-model="endDateModel" base-label-text="{{::endDateLabel}}"></acd-datepicker>
</div>